/* styles.css */

/* Add some padding to the header to increase spacing between the logo and navigation links */
header {
    padding: 20px;
  }
  
  /* Center the header logo */
  .navbar-brand {
    margin: 0 auto; /* Center the logo horizontally */
    display: block; /* Make the logo a block-level element to center it */
  }
  
  /* Ensure header buttons are listed horizontally */
  .navbar-nav {
    display: flex; /* Use flexbox to list items horizontally */
    align-items: flex; /* Align items vertically within the navbar */
  }
  
  /* Add some space between the header buttons */
  .navbar-nav .nav-item {
    margin-right: 20px;
  }
  
  /* Add some padding to the main content sections */
  main {
    padding: 30px;
  }
  
  /* Style the carousel caption text */
  .carousel-caption {
    background-color: rgba(0, 0, 0, 0.7); /* Semi-transparent black background */
    padding: 10px;
    color: white;
  }
  
  /* Add some space between the carousel and other sections */
  #carouselSection {
    margin-top: 100px;
  }
  
  /* Center the footer logo and add some padding */
  footer .navbar-brand {
    margin: 0 auto;
    padding: 10px;
  }
  
  /* Style the footer text */
  footer .navbar-text {
    padding: 10px;
    text-align: right;
  }
  
  /* Create more space for scrolling */
  body {
    padding-bottom: 100px; /* Add padding at the bottom of the body */
  }